a.delete{
	color: #d11a2a;
}

a.delete:hover{
	color: red;
}

div.backgroundimage{
	backround-image: url("img/background.jpg");
}

.card{
	padding: 10px;
	display: inline-block;
}

.card-deck{
	align-content: center;
}

.events{
	margin-top: 25px;
	margin-bottom: 50px;
	align-content: center;
}

.card{
	width: 100%;
}

.sort{
	display: flex;
	margin-top: 25px;
	align-content: flex-end;
	justify-content: end;
}