a.delete{
	color: #d11a2a;
}

a.delete:hover{
	color: red;
}


.card{
	padding: 10px;
	display: inline-block;
}

.card-deck{
	align-content: center;
}

.events{
	margin-top: 25px;
	margin-bottom: 50px;
	align-content: center;
}

.card{
	width: 100%;
}

.sort{
	display: flex;
	margin-top: 25px;
	align-content: flex-end;
	justify-content: flex-end;
}

.card-header{
	color: #FF5733;
}

.jumbotron-background {
  background-color: #9133FF;
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;
}

.jumbotron {
  position:relative;
  overflow:hidden;
  margin-bottom: 0 !important;
}

.jumbotron-2{
	margin: 0;
	background-color: indigo;
}

.jumbotron .container {
  position:relative;
  z-index:2;
  
  background:rgba(0,0,0,0.35);
  padding:2rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
  font-weight: bolder;
}

footer{
	margin-top: 15px;
}

.create-event{
	margin-bottom: 80px;
}
